[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
beautifulsoup4 = "==4.9.1"
pyqt5 = "==5.14.2"
urllib3 = "==1.25.6"
pyinstaller = "==4.0"
pywin32 = {version = "*", os_name = "=='nt'"}

[scripts]
start = "python source/main.py"

[requires]
python_version = "3.8"
