[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"
mkdocs = "*"
mkdocs-material = "*"
pyqt5-tools = "==5.15.2.3.0.2"

[packages]
pyinstaller = "==4.3"
beautifulsoup4 = "==4.9.3"
pyqt5 = "==5.15.4"
urllib3 = "==1.26.4"
pywin32 = {version = "*", os_name = "=='nt'"}

[scripts]
start = "python source/main.py"

[requires]
python_version = "3.8"
