[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pyinstaller = "==4.2"
autopep8 = "*"
flake8 = "*"
rope = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
beautifulsoup4 = "==4.9.3"
pyqt5 = "==5.15.1"
pyqt5-tools = "==5.15.1.1.7.4"
urllib3 = "==1.25.11"
pywin32 = {version = "*", os_name = "=='nt'"}

[scripts]
start = "python source/main.py"

[requires]
python_version = "3.8"
