QListWidget {
    background-color: #D7D7D7;
    outline: 0;
}

QListWidget::item {
    background-color: #D2D2D2;
}

QListWidget::item:alternate {
    background-color: #D7D7D7;
}

QListWidget::item:hover {
    background-color: #BBBBBB;
}

QListWidget::item:selected {
    background-color: #7190c8;
}

QListWidget::item:selected:hover {
    background-color: #546C98;
}
