QListView {
    background-color: #282828;
    color: #E6E6E6;
    border: 1px solid #444444;
    outline: 0;
}

QListView[HideBorder=true] {
    border: none;
}

QListView::item:hover {
    background-color: #4F4F4F;
}

QListView::item:selected {
    background-color: #3B5689;
}

QListView::item:selected:!active {
    color: #E6E6E6;
}
