QComboBox {
	background-color:#1F1F1F;
	color: #FFFFFF;
	border: 1px solid #444444;
	padding: 1px 1px 1px 3px;
}

QComboBox QAbstractItemView {
	background-color:#1F1F1F;
	color: #FFFFFF;
	border: 1px solid #444444;
	selection-background-color: #3B5689;
	outline: 0;
}

QComboBox::drop-down {
	background-color:#1F1F1F;
}

QComboBox::down-arrow {
	image: url(:resources/icons/drop_down_arrow.svg);
}

