QListWidget {
	background-color: #282828;
	outline: 0;
}

QListWidget::item {
	background-color: #2D2D2D;
}

QListWidget::item:alternate {
	background-color: #282828;
}

QListWidget::item:hover {
	background-color: #444444;
}

QListWidget::item:selected {
	background-color: #3B5689;
}

QListWidget::item:selected:hover {
	background-color: #546C98;
}

