QMenu
{
	background-color: #232323;
	color: #FFFFFF;
	padding: 0px;
}

QMenu::item
{
	padding: 6px 10px 6px 6px;
}

QMenu::item::selected
{
	background-color: #343434;
}

QMenu::item:disabled
{
	color: #828282;
}

QMenu::icon
{
	margin: 6px;
}

