QMenu
{
	background-color: #1F1F1F;
	color: #FFFFFF;
	padding: 0px;
}

QMenu::item
{
	padding: 6px 10px 6px 6px;
}

QMenu::item::selected
{
	background-color: #5076B2;
}

QMenu::item:disabled
{
	color: #828282;
}

QMenu::icon
{
	margin: 6px;
}

QMenu::separator
{
	background-color: #616161;
	border: none;
	height: 1px;
	margin: 0px 4px 0px 4px;
}

