QPushButton {
	color: #FFFFFF;
	background-color: #232323;
	border: none;
	padding: 4px;
}

QPushButton:hover {
	color: #FFFFFF;
	background-color: #343434;
	border: none;
}

QPushButton[HeaderButton=true] {
	background-color: #232323;
	border: none;
	padding: 0px;
}

QPushButton[HeaderButton=true]:hover {
	background-color: #343434;
	border: none;
	padding: 0px;
}

QPushButton[CloseButton=true]:hover {
	background-color: #DB2512;
	border: none;
	padding: 0px;
}

QPushButton[LaunchButton=true] {
	background-color: #598F4C;
	border: none;
	padding: 9px;
}

QPushButton[LaunchButton=true]:hover {
	background-color: #4EA13A;
	border: none;
	padding: 9px;
}

QPushButton[LaunchButton=true]:disabled {
	background-color: #6E6E6E;
	border: none;
	padding: 9px;
}

QPushButton[CancelButton=true] {
	background-color: #FF613D;
	border: none;
	padding: 9px;
}

QPushButton[CancelButton=true]:hover {
	background-color: #FF5225;
	border: none;
	padding: 9px;
}

QPushButton[CancelButton=true]:disabled {
	background-color: #6E6E6E;
	border: none;
	padding: 9px;
}

QPushButton[Icon=true] {
	background-color: transparent;
	border: none;
}

QPushButton[Count=true] {
	background-color: #FF7A00;
	border: none;
	border-radius: 12px;
}

