QSpinBox {
    background-color: #1F1F1F;
    color: #E6E6E6;
    border: 1px solid #444444;
    padding: 1px;
}

QSpinBox:disabled {
    color: #828282;
}

QSpinBox[text=\"\"] {
    color: #E6E6E6;
}
