QTabWidget::pane {
    background-color: transparent;
    border: none;
}

QTabWidget {
    background-color: #424242;
}

QTabWidget::tab-bar[North=true] {
    left: 30px;
}

QTabWidget::tab-bar[West=true] {
    left: 0px;
}

QTabWidget::tab-bar[Center=true] {
    alignment: center;
}
