@keyframes heart {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
    color: #DC143C;
}